
    $primary-text-color: #757575;
    $primary-title-color: #212121;
    $accent-color: #2F303A;
    $logo-text-blue: #2196F3;
    $logo-text-black: #000000;
    $link-active-color: #2196F3;
    $hero-title-color: #FFFFFF;
    $hero-background-color: #2F303A;
    $body-backgroud-color: #FFFFFF;
    $team-background-color: #F5F4FA;
    $footer-background-color: #2F303A;
    $icons-grey-regular: #AFB1B8;

    